.modal-body {
  display: flex;
  min-height: 500px;
  padding: 0;

  nav {
    padding: var(--app-padding);
    width: 100%;
    max-width: 220px;
    border-top-left-radius: var(--bs-modal-border-radius);
    border-bottom-left-radius: var(--bs-modal-border-radius);
    background-color: #f9f9f9;
  }

  div {
    padding: var(--app-padding);
    flex-grow: 1;
  }
}
