<div class="card app-auth-card">
  <div class="card-body">
    <h6 class="card-title text-center">
      {{ "PASSWORD_FORGOTTEN_PAGE.TITLE" | translate }}
    </h6>

    <hr />

    <form [formGroup]="formGroup" (submit)="onSubmit()">
      <p>{{ "PASSWORD_FORGOTTEN_PAGE.ENTER_EMAIL" | translate }}</p>

      <div class="mb-3">
        <app-input
          [id]="'this-email'"
          [label]="'GENERAL.EMAIL' | translate"
          [labelIcon]="'fa-regular fa-envelope'"
          [type]="'email'"
          [control]="'email'"
          [error]="formErrors.email"
        ></app-input>
      </div>

      <div class="text-center">
        @if (onForget === "error") {
          <small class="text-danger">
            {{ passwordForgottenError | translate }}
          </small>
        }

        @if (["false", "error"].includes(onForget)) {
          <button [disabled]="formGroup.invalid" class="btn btn-primary">
            {{ "GENERAL.SUBMIT" | translate }}
          </button>
        } @else if (onForget === "true") {
          <button [disabled]="true" class="btn btn-primary">
            <span class="fa-solid fa-spinner fa-spin"></span>
            {{ "GENERAL.SUBMITTING" | translate }}
          </button>
        } @else {
          <small class="text-success">
            <span class="fa-regular fa-circle-check"></span>
            {{ "PASSWORD_FORGOTTEN_PAGE.SUCCESS" | translate }}
          </small>
        }
      </div>
    </form>
  </div>
</div>
