<div class="card app-auth-card">
  <div class="card-body">
    <h6 class="card-title text-center">
      {{ "RESET_PASSWORD_PAGE.TITLE" | translate }}
    </h6>

    <hr />

    <form [formGroup]="formGroup" (submit)="onSubmit()">
      <div class="mb-3">
        <app-input
          [id]="'this-password'"
          [label]="'GENERAL.PASSWORD' | translate"
          [labelIcon]="'fa-solid fa-lock'"
          [type]="'password'"
          [control]="'password'"
          [error]="formErrors.password"
        ></app-input>
      </div>

      <div class="mb-3">
        <app-input
          [id]="'this-confirm-password'"
          [label]="'GENERAL.PASSWORD_CONFIRMATION' | translate"
          [labelIcon]="'fa-solid fa-lock'"
          [type]="'password'"
          [control]="'passwordConfirmation'"
          [error]="formErrors.passwordConfirmation"
        ></app-input>
      </div>

      <div class="text-center">
        @if (onReset === "error") {
          <small class="text-danger">
            {{ resetPasswordError | translate }}
          </small>
        }

        @if (["false", "error"].includes(onReset)) {
          <button [disabled]="formGroup.invalid" class="btn btn-primary">
            {{ "GENERAL.MODIFY" | translate }}
          </button>
        } @else if (onReset === "true") {
          <button [disabled]="true" class="btn btn-primary">
            <span class="fa-solid fa-spinner fa-spin"></span>
            {{ "GENERAL.MODIFYING" | translate }}
          </button>
        } @else {
          <p class="text-success">
            <span class="fa-regular fa-circle-check"></span>
            {{ "RESET_PASSWORD_PAGE.SUCCESS" | translate }}
          </p>
        }
      </div>
    </form>
  </div>
</div>
