@if (label()) {
  <label [for]="id()" class="form-label">
    @if (labelIcon()) {
      <span [class]="labelIcon()"></span>
    }

    {{ label() }}
  </label>

  <div [class.has-validation]="error()" class="input-group">
    @if (prependIcon()) {
      <span class="input-group-text">
        <span [class]="prependIcon()"></span>
      </span>
    }

    <input
      [class.is-invalid]="error()"
      [id]="id()"
      [type]="type()"
      [placeholder]="placeholder() ?? ''"
      [formControlName]="control() ?? ''"
      class="form-control"
    />

    @if (error()) {
      <div class="invalid-feedback">
        {{ error() ? ("GENERAL.ERRORS." + error() | translate) : "" }}
      </div>
    }
  </div>
}
